.content h2 {
 background-color: #FFFFAA;
}

h3 {
 text-decoration: underline;
}

h4 {
 background: lightgreen;
}

pre {
 background-color:#F0F0F0;
 border:1px solid #CCCCCC;
 margin-left: 5px;
 margin-right: 20px;
 padding-left: 3px;
 font-size: small;
}

pre .comment {
 color: #B22222;
 font-style: italic;
}

pre .keyword {
 color: #A020F0;
 font-weight: bold;
}

pre .class {
 color: green;
 font-weight: bold;
}

pre .string {
 color: #BC8F8F;
}

div.content {
 margin-left: 160px;
 margin-right: 5px;
}

div.toc{
 float: left;
 width: 160px;
 font-size: small;
}

div.toc ul {
 margin-left: 1em;
 padding-left: 0px;
}

div.toc ul > ul {
 font-size: x-small;
 margin-left: 1em;
 padding-left: 0px;
}

div.toc a {
 text-decoration: none;
}

.small {
 font-size: small;
}

.note {
 color: #FF0000;
 font-size: small;
 margin-left: 15px;
}

thead {
 background: lightgray;
 text-align: center;
 font-weight: bold;
}